html(lang='en')
    head
        meta(charset='UTF-8')
        title Users projects
        link(rel='stylesheet', href='/css/styles.css')
    body 
        #projects
            h1 All LeotardCraft projects
            each user in users
                .user-container
                    .user-username
                        =user.userName
                    .user-name
                        =`${user.firstName} ${user.lastName}`
                    .projects-container 
                        each pr in projects
                            if pr.userId == user.id
                                .project
                                    .project-title 
                                        =pr.title 
                                    .project-rhinestones
                                        each stone in pr.rhinestones
                                            each r in rhinestones
                                                if r.id == stone.rhinestoneId 
                                                    .rhinestone 
                                                        table 
                                                            tr 
                                                                th Type 
                                                                td 
                                                                    =r.type
                                                            tr 
                                                                th Size 
                                                                td 
                                                                    =r.size
                                                            tr 
                                                                th Color 
                                                                td 
                                                                    =r.color
                                                            tr 
                                                                th Amount
                                                                td 
                                                                    =stone.amount
        #rhinestones 
            h2 Rhinestones
            each r in rhinestones 
                .rhinestone 
                    table
                        tr 
                            th ID 
                            td 
                                =r.id 
                        tr 
                            th Type 
                            td 
                                =r.type
                        tr 
                            th Size 
                            td 
                                =r.size
                        tr 
                            th Color 
                            td 
                                =r.color
        #form-container 
            form(action='/addproject', method='POST')
                table
                    tr 
                        th(colspan="2", style="text-align: center; padding-bottom: 10px") Add new project to user 
                    tr  
                        th User 
                        td 
                            select(name="userId" id="userid")
                                each user in users 
                                    option(value=user.id)
                                        =`${user.firstName} ${user.lastName}`
                    tr 
                        th Project title 
                        td 
                            input(type="text" name="title" placeholder="Title of new project")   
                    tr 
                        th Rhinestone 
                        td 
                            select(name="rhinestoneId" id="rhinestoneid")
                                each r in rhinestones 
                                    option(value=r.id)
                                        =`${r.id}: ${r.type}, ${r.size}, ${r.color}`
                    tr 
                        th How many rhinestones you need? 
                        td 
                            input(type="number" name="amount" placeholder="Amount")    
                    tr 
                        th(colspan="2") 
                            input(type="submit")


